<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obstruction graph</title>
</head>

<body>
    <div id="container"></div>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="{{ url_for('static',filename='js/obstruction_graph.js') }}"></script>

    <script fileLocation="{{ fileLocation }}">
        fileLocation = document.currentScript.getAttribute("fileLocation");
        const obstructionGraph = new ObstructionGraph(fileLocation);
        obstructionGraph.run();
    </script>
</body>

</html>